<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url</title>


    <style>

    span{
        
        font-size: 2em;
        font-weight: bold;
        font-family: Arial;

    }

    </style>

</head>

<body style="width: 100%; height: 100%; margin: 0; padding: 0; background-color: rgb(15,15,15);">

    <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
    
        <div style="display: flex; flex-direction: column; align-items: center;">

            <span style="color: rgb(235, 235, 235)">Shortened link</span>
            <span id="fileLink" style="color: #00fa21"><%-data%></span>

        </div>

    </div>

</body>

</html>